$hover_color: #a9883b;
$header-color: #d0c6c6;
$contacts-color: darken($color: $header-color, $amount: 20);

$header-height: 120px;

header {
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: $header-color;
    width: 100%;

    .social-media {
        background-color: $contacts-color;
        font-size: 13px;

        .container {
            display: flex;
            justify-content: flex-end;
            column-gap: 10px;
            margin: 0 auto;
            padding: 0 40px;

            >.social-media-icon {
                padding-left: 40px;
            }

            >.social-media-icon~.social-media-icon {
                padding-left: 0;
            }

            >div:last-of-type {
                padding: 0 40px;
            }
        }

        .language-block-wrapper {
            position: relative;
            width: 40px;

            .language-block {
                display: flex;
                flex-direction: column;
                row-gap: 5px;
                position: absolute;
                top: 5px;
                left: 20px;
                cursor: pointer;

                >::after {
                    position: absolute;
                    right: 5px;
                    top: 10px;
                    content: '';
                    border-top: 5px solid black;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    pointer-events: none;
                }

                &:hover>::after {
                    border-top-color: $hover_color;
                }

                .flag-item {
                    border: 1px solid rgba(0, 0, 0, 0.32);
                    background-color: $contacts-color;
                    padding-right: 15px;

                    div {
                        height: 30px;
                        width: 40px;

                        svg {
                            height: 100%;
                            width: 100%;
                        }
                    }

                    // &.current-lang {}

                    &.dropdown-lang {
                        display: none;
                    }

                    &:hover {
                        background-color: lighten($color: $contacts-color, $amount: 10);
                    }
                }

                &:hover {

                    .dropdown-lang {
                        display: block;
                    }
                }
            }
        }

        span {
            svg {
                height: 40px;
                width: 40px;
                padding: 5px 0;
                filter: grayscale(0.6);
                transition: all 0.16s ease-in-out;

                &:hover {
                    filter: none;
                }
            }
        }
        // .social-media-icon {}
        .contact-icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            padding-right: 40px;

            &.location-block {
                // flex: 1;
                span.location{
                    // width: max-content;
                    @media(max-width: 1100px){
                    max-width: 260px;   
                    }
                }
            }
            &.has-children{
                padding-right: 45px;
            }

            &.has-children::after {
                position: absolute;
                right: 10px;
                top: 20px;
                content: '';
                border-top: 5px solid black;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                cursor: pointer;
                transition: all 0.25s ease-in-out;

            }

            &.as-children:hover::after {
                border-top: 5px solid $header-color;
            }

            a {
                display: flex;
                align-items: center;

                &.tel-link {
                    font-size: 13px;
                    font-style: italic;

                    &:hover {
                        span {

                            background-color: lighten($color: $contacts-color, $amount: 20);
                        }
                    }
                }
                span.tel{
                    width: max-content;
                }


                &.main-tel {

                    .svg-span {
                        padding-right: 5px;
                        background-color: $contacts-color !important;
                        // svg {   
                        //     height: 40px;
                        //     width: 40px;
                        //     filter: grayscale(0.6);
                        //     transition: all 0.16s ease-in-out;

                        //     &:hover {
                        //         filter: none;
                        //     }
                        // }
                    }
                }
            }

            div.additional-tels {
                display: none;
                position: absolute;
                top: 44px;
                background: lighten($color: $contacts-color, $amount: 12);
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.783);
                // min-width: 220px;
                width: 100%;
                padding: 10px 20px 10px 35px;

                a {}
            }


            &:hover {
                div.additional-tels {
                    display: block;
                }

                .main-tel {

                    .svg-span {
                        svg {
                            filter: none !important;

                        }
                    }
                }
            }
        }
    }

    .header-container {
        margin: 0 auto;
        padding: 10px 40px 10px;
        display: grid;
        grid-template-areas:
            'logo menu lang';
        align-items: center;
        justify-content: space-between;

        .logo {
            grid-area: logo;
            height: $header-height;
            display: block;

            img {
                height: 100%;
            }
        }

        .menu {

            grid-area: menu;
            flex: 1;
            font-size: 18px;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 50px;

                @media (max-width:1100px) {
                    column-gap: 18px;

                }

                li {
                    text-transform: capitalize;


                    a.menu-item {
                        padding-top: 6px;
                        cursor: pointer;
                        border-top: 2px solid transparent;
                        transition: all 0.25s ease-in-out;
                        font-weight: 500;


                        &:hover {
                            color: $hover_color;
                            border-top: 2px solid $hover_color;
                        }
                    }

                    &.menu-item-dropdown-wrapper {
                        position: relative;
                        padding-right: 35px;

                        &::after {
                            position: absolute;
                            right: 10px;
                            top: 10px;
                            content: '';
                            border-top: 7px solid black;
                            border-left: 7px solid transparent;
                            border-right: 7px solid transparent;
                            cursor: pointer;
                            transition: all 0.25s ease-in-out;

                        }

                        &:hover::after {

                            border-top: 7px solid $hover_color;
                        }

                        &:hover {

                            .menu-item-dropdown {
                                cursor: pointer;

                                a.menu-item {
                                    color: $hover_color;
                                    border-top: 2px solid $hover_color;
                                }

                                .dropdown-content {
                                    visibility: visible;
                                }
                            }
                        }

                        .menu-item-dropdown {

                            .dropdown-content-wrapper {
                                padding: 18px 0;
                                width: 115%;
                                left: 0px;
                                top: 5px;
                                position: absolute;

                            }

                            .dropdown-content {
                                visibility: hidden;
                                background: #fff;
                                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.783);
                                left: -12px;
                                min-width: 250px;
                                padding: 10px;
                                position: absolute;
                                top: 25px;
                                z-index: 10;
                                display: flex;
                                flex-direction: column;
                                row-gap: 10px;

                                .sub-item {
                                    transition: background-color 0.2s ease-in-out;

                                    &:hover {
                                        background-color: #eeedee;
                                    }
                                }
                            }
                        }
                    }


                }
            }
        }

    }
}
