$hover_color: #a9883b;
$header-color: #d0c6c6;

$header-height: 120px;

header {
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: $header-color;
    width: 100%;

    .header-container {
        margin: 0 auto;
        max-width: $large-screen;
        padding: 10px 40px;
        display: flex;
        align-items: center;
        column-gap: 20px;

        .logo {
            height: $header-height;
            display: block;

            img {
                height: 100%;
                // width: 100%;
            }
        }

        .menu {
            flex: 1;
            font-size: 18px;
            // font-weight: medium;
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 50px;

                @media (max-width:1100px) {
                    column-gap: 18px;

                }

                li {
                    text-transform: capitalize;


                    a.menu-item {
                        padding-top: 6px;
                        cursor: pointer;
                        border-top: 2px solid transparent;
                        transition: all 0.25s ease-in-out;
                        font-weight: 500;


                        &:hover {
                            color: $hover_color;
                            border-top: 2px solid $hover_color;
                        }
                    }

                    &.menu-item-dropdown-wrapper {
                        position: relative;
                        padding-right: 25px;

                        &::after {
                            position: absolute;
                            right: 0px;
                            top: 10px;
                            content: '';
                            border-top: 7px solid black;
                            border-left: 7px solid transparent;
                            border-right: 7px solid transparent;
                            cursor: pointer;
                            transition: all 0.25s ease-in-out;

                        }

                        &:hover::after {

                            border-top: 7px solid $hover_color;
                        }

                        &:hover {

                            .menu-item-dropdown {
                                cursor: pointer;

                                a.menu-item {
                                    color: $hover_color;
                                    border-top: 2px solid $hover_color;
                                }

                                .dropdown-content {
                                    visibility: visible;
                                }
                            }
                        }

                        .menu-item-dropdown {

                            .dropdown-content-wrapper {
                                padding: 18px 0;
                                width: 115%;
                                left: 0px;
                                top: 5px;
                                position: absolute;
                                
                            }

                            .dropdown-content {
                                visibility: hidden;
                                background: #fff;
                                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.783);
                                left: -12px;
                                min-width: 250px;
                                padding: 10px;
                                position: absolute;
                                top: 25px;
                                z-index: 10;
                                display: flex;
                                flex-direction: column;
                                row-gap: 10px;

                                .sub-item {
                                    transition: background-color 0.2s ease-in-out;

                                    &:hover {
                                        background-color: #eeedee;
                                    }
                                }
                            }
                        }
                    }


                }
            }
        }

        .social-media {
            display: flex;

            .social-media-icon {
                span {
                    svg {
                        height: 40px;
                        width: 40px;
                        filter: grayscale(0.6);
                        transition: all 0.16s ease-in-out;

                        &:hover {
                            filter: none;
                        }
                    }
                }
            }
        }

        .language-block-wrapper {
            position: relative;
            width: 40px;

            .language-block {
                display: flex;
                flex-direction: column;
                row-gap: 5px;
                position: absolute;
                top: -20px;

                >::after {
                    position: absolute;
                    right: 5px;
                    top: 10px;
                    content: '';
                    border-top: 5px solid black;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    cursor: pointer;

                }

                &:hover>::after {
                    border-top-color: $hover_color;

                }

                .flag-item {
                    border: 1px solid rgba(0, 0, 0, 0.32);
                    background-color: $header-color;
                    padding-right: 15px;

                    div {
                        height: 30px;
                        width: 40px;

                        svg {
                            height: 100%;
                            width: 100%;
                        }
                    }

                    &.current-lang {}

                    &.dropdown-lang {
                        display: none;
                    }

                    &:hover {
                        background-color: lighten($color: $header-color, $amount: 10);
                    }
                }

                &:hover {

                    .dropdown-lang {
                        display: block;
                    }
                }
            }
        }
    }
}