.s-contact-us {
    background-color: #cecece;

    .container {
        text-align: center;
    }

    .map-form-block {
        display: flex;
        gap: 20px;

        .contact-us-form.form {
            flex: 1 1 50%;
            padding: 10px 15px;

            .block-subheading {
                padding: 15px 0;
            }
        }

        iframe {
            padding: 0;
            flex: 1 1 50%;
            width: 100%;
            height: auto;
            max-width: 1000px;
            border-radius: 10px;
        }

    }

    @media (max-width:991.98px) {
        .contact-form-wrapper .one-line-inputs-container {
            columns: 1 auto;
        }
    }

    @media (max-width:767.98px) {
        .contact-form-wrapper .one-line-inputs-container {
            columns: 2 auto;
        }

        .map-form-block {
            flex-wrap: wrap;

            iframe {
                height: 350px;
            }
        }
    }

    @media (max-width:481.98px) {
        .contact-form-wrapper .one-line-inputs-container {
            columns: 1 auto;
        }
    }
}