.s-images-gallery {
    background-color: #fff;
    padding: 20px 0;


    .container {
        @media(max-width:479.98px) {
            text-align: center;
            .interactive-btn{
                display: inline-block;
            }
        }

    }

    .block-heading {
        padding: 20px 0;
    }

    .gallery {
        column-count: 3;
        column-gap: 10px;

        @media(max-width:600px) {
            column-count: 2;
        }

        @media(max-width:479.98px) {
            column-count: 1;
        }

        .gallery__item-outer {
            @media(max-width:479.98px) {
                pointer-events: none;
            }

            margin-bottom: 5px;
            height: 100%;
            width: auto;
            display: inline-block;
            border-radius: 10px;

            &.hide {
                display: none;
            }

            .gallery__item-inner {
                border-radius: 10px;
                width: 100%;

                &:hover {
                    transition: all 0.3s ease-in-out;
                    box-shadow: 0 0 10px 0px $brown-logo-color;
                }
            }
        }
    }
    .interactive-btn{
        display: none;
    }
}