$slider-width: 320px;
$slider-padding: 40px;

.s-our-team-main {
    min-height: 40vh;
    padding: $slider-padding 0;
    @media (max-width:479.98px) {
        padding: 20px 0;
    }
    .our-team__heading {
        padding: 20px 0;
        text-align: center;

        h2 {
            color: $header-color;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 1px;
            // font-family: monospace;
        }
    }

    .our-team__slider-container {
        max-width: calc($slider-width*2 + ($slider-padding*2)*2);
        margin: 0 auto;

        [class^="swiper-button-"]::after {
            content: "";
        }

        [class="swiper-button-next"] {
            right: 0;
        }

        [class="swiper-button-prev"] {
            left: 0;
        }

        [class^="swiper-button-"] {
            width: $slider-padding;
            height: auto;

            svg {
                border: 2px solid #e1aa4d;
                border-radius: 10px;

                * {
                    transition: all .09s ease-in-out;
                    fill: #e1aa4d;
                    stroke: #e1aa4d;
    
                }
            }

        //     &:hover {
        //         svg {
        //             border-color: #e1aa4d;

        //             * {
        //                 transition: all .09s ease-in-out;
        //                 fill: #e1aa4d;
        //                 stroke: #e1aa4d;

        //             }
        //         }
        //     }
        }

    }

    .swiper-slide {
        padding: 20px 50px;
        background-color: transparent;
        // height: 549px;
        // max-width: 320px;
        width: 60%;

        @media(max-width:747.98px) {
            padding: 20px;
        }

        .slider-image {
            height: 347px;
            background-position: center top;
            background-size: cover;

            @media(max-width:747.98px) {
                max-width: 260px;
                margin: 0 auto;
            }

            @media(max-width:559.98px) {
            }
        }

        .slider-description {
            color: white;
            padding: 40px 0;

            @media(max-width:747.98px) {
                padding: 20px 0;
            }

            >* {
                padding-bottom: 20px;
                line-height: 1.7;
            }

            h2 {
                text-transform: uppercase;
            }

            p {
                font-style: italic;
            }
        }
    }
}