$slider-width:320px;
$slider-padding:40px;

.s-our-team-main {
    min-height: 40vh;
    padding: $slider-padding 0;

    .our-team__heading{
        padding: 40px 0;
        text-align: center;
        h2{
            color: $header-color;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 1px;
            // font-family: monospace;
        }
    }

    .our-team__slider-container {
        max-width: calc($slider-width*2 + ($slider-padding*2)*2);
        margin: 0 auto;
        
        [class^="swiper-button-"]::after {
            content: "";
        }

        [class="swiper-button-next"] {
                right: 0;
        }
        [class="swiper-button-prev"] {
                left: 0;
        }

        [class^="swiper-button-"] {
            width: $slider-padding;
            height: auto;
            svg{
                border: 2px solid white;
                
            }
            &:hover {
                svg {
                    border-color: #ddd8d8;
                    *{
                        transition: all .09s ease-in-out;
                        fill: #ddd8d8;
                        stroke: #ddd8d8;

                    }
                }
            }
        }

    }

    .swiper-slide {
        padding: 40px 50px ;
        background-color: transparent;
        // height: 549px;
        // max-width: 320px;
        width: 60%;

        .slider-image {
            height: 347px;
            background-position: center top;
            background-size: cover;
        }
        .slider-description{
            color: white;
            padding: 40px 0;

            >*{
                padding-bottom: 20px;
                line-height: 1.7;
            }
            h2{
                text-transform: uppercase;
            }
            p{
                font-style: italic;
            }
        }
    }
}