.s-small-about {
    background-color: #fff;
    padding: 60px 0;

    @media(max-width:767.98px) {
        padding: 40px 0;
    }

    .container {
        max-width: 1100px;
        text-align: center;
        background-position: center 35%;
        background-repeat: no-repeat;
        background-size: 120px;
    }

    .about__heading-block {
        padding: 0 20px 40px;
        color: $blue-logo-color;
        margin: 0 auto;

        * {
            line-height: 1.5;
        }

        .motto__end {
            letter-spacing: 1px;
            color: $brown-logo-color;
        }
        @media(max-width:767.98px) {
            .motto__start{
                font-size: 16px;
            }
            .motto__end {
                font-size: 20px;
            }
        }
        @media(max-width:667.98px) {
            max-width: 550px;
        }
        @media(max-width:479.98px) {
            max-width: none;
            padding: 0 0 20px;
        }
    }
    
    .about__description-block {
        padding: 0 20px 20px;
        font-size: 14px;
        line-height: 1.7;
        font-style: italic;
        max-width: 80%;
        margin: 0 auto;
        
        @media(max-width:767.98px) {
            max-width: none;
        }
        @media(max-width:479.98px) {
            padding: 0 0 20px;
        }
    }
}

.popup-consultation-block {
    // padding: 20px 0;
    margin: 0 auto;
}