.s-small-about {
    background-color: #ffffff;
    padding: 80px 0;

    .container {
        position: relative;
        max-width: 1100px;
        text-align: center;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 15%;
    }

    .about__heading-block {
        padding-bottom: 80px;
        color: $blue-logo-color;

        * {
            line-height: 1.5;
        }

        .motto {
            letter-spacing: 1px;
            color: $brown-logo-color;
        }
    }

    .about__description-block {
        padding-bottom: 80px;
        font-size: 14px;
        line-height: 2;
        font-style: italic;
    }

    .popup-consultation-block {
        .link-to-consultation {
            font-weight: 600;
            font-style: italic;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.2s ease-in-out;
            svg {
                transition: all 0.2s ease-in-out;
                padding-left: 5px;
                height: 30px;
                width: auto;
            }

            &:hover {
                text-decoration: underline;
                color: $brown-logo-color;

                svg {
                    stroke: $brown-logo-color;
                }
            }
        }
    }

}