.s-serviсes {
    padding: 40px 0;
    background-color: #eaeaea;

    .block-heading {
        padding: 20px 0;
    }

    .s-services-heading {
        padding-bottom: 80px;
        background-repeat: no-repeat;
        background-position: center 70%;
        background-size: 40px;

    }

    .services-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

    }
    .service-item {
        border-radius: 10px;
        background-color: #f4f4f4;
        width: 23%;
        min-width: 245px;
        transition: all .3s ease-in-out;
        @media(max-width:991.98px){
            min-width: 280px;
        }
        &:hover {
            box-shadow: 0 0px 43px 0px rgba(116, 140, 152, 0.7);
        }

        .service-item_image-block {
            border-radius: 10px 10px 0 0;
            height: 170px;
            background-size: cover;
            background-position: center top;
            background-repeat: no-repeat;
            transition: all .2s ease-in-out;
        }
    }

    .service-item__inner {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .service-item_info-text-block {
        padding: 10px 10px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .info-heading {
        font-size: 16px;
        font-weight: 700;
        padding: 10px 0;
        min-height: 80px;
    }

    .info-description {
        font-style: italic;
        font-size: 14px;
        font-weight: 400;
    }

}