@charset "UTF-8";
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham-BlackItalic.eot");
  src: url("../assets/fonts/Gotham-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Gotham-BlackItalic.woff2") format("woff2"), url("../assets/fonts/Gotham-BlackItalic.woff") format("woff"), url("../assets/fonts/Gotham-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham-Black.eot");
  src: url("../assets/fonts/Gotham-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Gotham-Black.woff2") format("woff2"), url("../assets/fonts/Gotham-Black.woff") format("woff"), url("../assets/fonts/Gotham-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham-Bold.eot");
  src: url("../assets/fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Gotham-Bold.woff2") format("woff2"), url("../assets/fonts/Gotham-Bold.woff") format("woff"), url("../assets/fonts/Gotham-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham-Book.eot");
  src: url("../assets/fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Gotham-Book.woff2") format("woff2"), url("../assets/fonts/Gotham-Book.woff") format("woff"), url("../assets/fonts/Gotham-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham-BoldItalic.eot");
  src: url("../assets/fonts/Gotham-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Gotham-BoldItalic.woff2") format("woff2"), url("../assets/fonts/Gotham-BoldItalic.woff") format("woff"), url("../assets/fonts/Gotham-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham-BookItalic.eot");
  src: url("../assets/fonts/Gotham-BookItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Gotham-BookItalic.woff2") format("woff2"), url("../assets/fonts/Gotham-BookItalic.woff") format("woff"), url("../assets/fonts/Gotham-BookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
header {
  background-color: #d0c6c6;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
header .top-contact-block {
  background-color: #a28e8e;
  font-size: 13px;
}
@media (max-width: 991.98px) {
  header .top-contact-block {
    font-size: 11px;
  }
}
header .top-contact-block .container {
  min-height: 50px;
  padding-right: 96px;
  align-items: center;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 519.98px) {
  header .top-contact-block .container {
    justify-content: flex-end;
  }
  header .top-contact-block .container::after {
    content: "";
    display: inline-block;
    width: 100%;
  }
}
@media (max-width: 991.98px) {
  header .top-contact-block .container {
    min-height: 45px;
    padding: 0 74px 0 10px;
    -moz-column-gap: 14px;
         column-gap: 14px;
  }
}
@media (max-width: 349.98px) {
  header .top-contact-block .container {
    padding: 0px 66px 0 2px;
  }
}
header .top-contact-block .top-contact-block__item .top-contact-block__item-container {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 6px;
       column-gap: 6px;
  height: 100%;
  width: 100%;
}
header .top-contact-block .top-contact-block__item.adress .svg-icon-container {
  background-image: url("../assets/images/header/location-pin-svgrepo-com.svg");
}
header .top-contact-block .top-contact-block__item.email .svg-icon-container {
  background-image: url("../assets/images/header/mail-svgrepo-com.svg");
}
header .top-contact-block .top-contact-block__item.tel {
  flex: 0 0 180px;
}
@media (max-width: 991.98px) {
  header .top-contact-block .top-contact-block__item.tel {
    flex: 0 0 143px;
  }
}
@media (max-width: 519.98px) {
  header .top-contact-block .top-contact-block__item.tel {
    order: 3;
  }
}
header .top-contact-block .top-contact-block__item.tel .tel-link {
  padding: 10px 10px;
}
header .top-contact-block .top-contact-block__item.tel .tel-link:first-child {
  margin-right: 15px;
  padding: 0 0 10px 10px;
}
header .top-contact-block .top-contact-block__item.tel .tel-link:hover {
  text-shadow: 0 0 5px #d0c6c6;
}
header .top-contact-block .top-contact-block__item.tel .top-contact-block__item-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
header .top-contact-block .top-contact-block__item.tel .top-contact-block__item-container:hover .tels-container {
  max-height: 100vh;
  transition: max-height 0.3s ease;
}
header .top-contact-block .top-contact-block__item.tel .tels-container {
  z-index: 12;
  left: 35px;
  top: 7px;
  position: absolute;
  display: flex;
  flex-direction: column;
  max-height: 18px;
  overflow: hidden;
  background-color: #a28e8e;
  transition: max-height 0.3s ease;
}
@media (max-width: 991.98px) {
  header .top-contact-block .top-contact-block__item.tel .tels-container {
    left: 35px;
    top: 9px;
    width: calc(100% - 35px);
  }
}
header .top-contact-block .top-contact-block__item.tel .tels-section-opener {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
header .top-contact-block .top-contact-block__item.tel .tels-section-opener svg {
  height: 14px;
}
@media (max-width: 991.98px) {
  header .top-contact-block .top-contact-block__item.tel .tels-section-opener svg {
    height: 9px;
  }
}
header .top-contact-block .top-contact-block__item.tel .svg-icon-container {
  background-image: url("../assets/images/header/phone-svgrepo-com.svg");
}
header .top-contact-block .top-contact-block__item .svg-icon-container {
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  filter: grayscale(66%);
}
@media (max-width: 349.98px) {
  header .top-contact-block .top-contact-block__item .svg-icon-container {
    height: 24px;
    width: 24px;
  }
}
@media (max-width: 519.98px) {
  header .top-contact-block .top-contact-block__item .contact-info {
    display: none;
  }
}
header .top-contact-block .top-contact-block__item:hover .svg-icon-container {
  filter: none;
}
header .top-contact-block .top-contact-block__item:hover .contact-info {
  text-shadow: 0 0 5px #d0c6c6;
}
header .top-contact-block .top-contact-block__item:hover .tels-section-opener svg g {
  fill: #ffd700;
}
@media (max-width: 767.98px) {
  header .top-contact-block .top-contact__social-media {
    position: fixed;
    top: 65%;
    right: 0;
  }
  header .top-contact-block .top-contact__social-media .social-media-container {
    display: flex;
    flex-direction: column;
  }
  header .top-contact-block .top-contact__social-media .social-media-icon {
    width: 40px;
    height: 40px;
  }
}
header .top-contact-block .social-media-icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: grayscale(38%);
}
@media (max-width: 991.98px) {
  header .top-contact-block .social-media-icon:hover {
    filter: none;
  }
}
header .top-contact-block .top-contact__language-block {
  position: absolute;
  z-index: 10000;
  right: 10px;
  top: 5px;
}
@media (max-width: 991.98px) {
  header .top-contact-block .top-contact__language-block {
    top: 8px;
  }
}
@media (max-width: 479.98px) {
  header .top-contact-block .top-contact__language-block {
    top: 4px;
    right: 5px;
  }
}
header .top-contact-block .top-contact__language-block .language-block-wrapper {
  position: relative;
}
header .top-contact-block .top-contact__language-block .language-block-wrapper .language-block {
  background-color: #a28e8e;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.32);
  border-radius: 4px;
  position: relative;
  transition: all 0.2s ease;
  padding: 4px 17px 4px 4px;
  padding-right: 14px;
  max-height: 40px;
}
@media (max-width: 991.98px) {
  header .top-contact-block .top-contact__language-block .language-block-wrapper .language-block {
    padding: 2px 12px 2px 3px;
    max-height: 32px;
  }
}
header .top-contact-block .top-contact__language-block .language-block-wrapper .language-block::after {
  position: absolute;
  top: 12px;
  right: 3px;
  content: "";
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: all 0.2s ease;
}
header .top-contact-block .top-contact__language-block .language-block-wrapper .language-block:hover::after {
  border-color: #ffd700;
}
header .top-contact-block .top-contact__language-block .language-block-wrapper .language-block .flag-item {
  flex: 0 0 26px;
  display: inline-block;
  width: 36px;
  background-image: url("../assets/images/header/flag-for-flag-ukraine-svgrepo-com.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}
@media (max-width: 991.98px) {
  header .top-contact-block .top-contact__language-block .language-block-wrapper .language-block .flag-item {
    border-radius: 4px;
  }
}
header .top-contact-block .top-contact__language-block .language-block-wrapper .language-block .flag-item.dropdown-lang {
  background-image: url("../assets/images/header/united-kingdom-uk-svgrepo-com.svg");
  visibility: hidden;
  opacity: 0;
}
header .top-contact-block .top-contact__language-block .language-block-wrapper .language-block .flag-item:hover {
  box-shadow: 0px 0px 6px 1px rgba(20, 20, 20, 0.4);
}
header .top-contact-block .top-contact__language-block .language-block-wrapper .language-block:hover {
  max-height: -moz-fit-content;
  max-height: fit-content;
}
header .top-contact-block .top-contact__language-block .language-block-wrapper .language-block:hover .dropdown-lang {
  visibility: visible;
  opacity: 1;
  display: block;
}
header .main-header-block {
  background-color: #d0c6c6;
  width: 100%;
}
header .main-header-block .container {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  position: relative;
  width: 100%;
}
@media (max-width: 991.98px) {
  header .main-header-block .container {
    padding: 10px 70px 10px 20px;
  }
}
@media (max-width: 479.98px) {
  header .main-header-block .container {
    padding: 10px 70px 10px 10px;
  }
}
header .main-header-block .menu-item {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
header .main-header-block .main-logo-wrapper {
  min-width: 140px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../assets/logo/Logo_TDHC_ua.png");
}
@media (max-width: 991.98px) {
  header .main-header-block .main-logo-wrapper {
    background-image: url("../assets/logo/logo_gorizont_TDHC_ua.png");
    height: 50px;
    min-width: 225px;
    width: 100%;
    max-width: 400px;
    background-position: center;
  }
}
header .main-header-block .main-logo-wrapper .main-logo {
  display: block;
  height: 100%;
  width: 100%;
}
header .main-header-block .nav-menu {
  display: flex;
  align-items: center;
}
header .main-header-block .nav-menu .menu-list {
  display: flex;
  align-items: center;
}
@media (max-width: 991.98px) {
  header .main-header-block .nav-menu .menu-list {
    display: none;
  }
}
header .main-header-block .nav-menu .menu-item {
  cursor: pointer;
  padding-top: 6px;
  border-top: 2px solid transparent;
  transition: all 0.25s ease-in-out;
  font-weight: 400;
  transition: all 0.2s ease;
}
header .main-header-block .nav-menu .menu-item a {
  display: inline-block;
  width: 100%;
}
header .main-header-block .nav-menu .menu-item:hover {
  color: #a9883b;
  border-top: 2px solid #a9883b;
}
header .main-header-block .nav-menu .menu-item:not(:last-child) {
  margin-right: 40px;
}
header .main-header-block .nav-menu .menu-item.has-children {
  position: relative;
  padding-right: 14px;
  transition: all 0.2s ease;
}
header .main-header-block .nav-menu .menu-item.has-children::after {
  position: absolute;
  top: 8px;
  right: 0;
  content: "";
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: all 0.2s ease;
}
header .main-header-block .nav-menu .menu-item.has-children:hover .submenu-list {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease;
}
header .main-header-block .nav-menu .menu-item.has-children:hover::after {
  border-color: #a9883b;
}
header .main-header-block .nav-menu .submenu-list {
  visibility: hidden;
  opacity: 0;
  color: black;
  position: absolute;
  left: 0;
  background-color: #eeeaea;
  min-width: -moz-max-content;
  min-width: max-content;
  padding: 10px 5px 10px 5px;
}
header .main-header-block .nav-menu .submenu-list .submenu-item {
  cursor: pointer;
  padding: 2px 4px;
}
header .main-header-block .nav-menu .submenu-list .submenu-item:hover {
  background-color: white;
}
header .main-header-block .hamburger-block {
  display: none;
}
@media (max-width: 991.98px) {
  header .main-header-block .hamburger-block {
    display: block;
  }
}
header .main-header-block .mobile-nav-menu {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  top: 70px;
  width: 100%;
  background-color: #e7e2e2;
  transition: all 0.3s ease;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25);
}
@media (max-width: 991.98px) {
  header .main-header-block .mobile-nav-menu {
    display: block;
    max-height: 0;
    overflow: hidden;
  }
}
header .main-header-block .mobile-nav-menu.open {
  transition: all 0.3s ease;
  max-height: 100vh;
}
header .main-header-block .mobile-nav-menu .menu-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
header .main-header-block .mobile-nav-menu .menu-item {
  border-top: 2px solid ghostwhite;
  transition: all 0.3s ease;
}
header .main-header-block .mobile-nav-menu .menu-item a {
  padding: 13px;
  display: inline-block;
  width: 100%;
}
header .main-header-block .mobile-nav-menu .menu-item.tab {
  width: 100%;
  overflow: hidden;
  position: relative;
}
header .main-header-block .mobile-nav-menu .menu-item.tab > a::after {
  position: absolute;
  content: "";
  display: inline-block;
  height: 18px;
  right: 3%;
  width: 18px;
  background-image: url("../assets/images/header/plus-svgrepo-com.svg");
  background-size: contain;
  transition: all 0.2s ease;
}
header .main-header-block .mobile-nav-menu .menu-item.tab .tab-content {
  max-height: 0;
  transition: all 0.2s ease;
}
header .main-header-block .mobile-nav-menu .menu-item.tab .tab-content .submenu-item {
  border-top: 2px solid whitesmoke;
  background-color: #d0c6c6;
  padding: 0 0 0 1em;
}
header .main-header-block .mobile-nav-menu .menu-item.tab .tab-content .submenu-item:hover {
  background-color: #968080;
}
header .main-header-block .mobile-nav-menu .menu-item.tab.open {
  background-color: #b9aaaa;
}
header .main-header-block .mobile-nav-menu .menu-item.tab.open > a::after {
  transition: all 0.2s ease;
  transform: rotate(135deg);
}
header .main-header-block .mobile-nav-menu .menu-item.tab.open .tab-content {
  transition: all 0.2s ease;
  max-height: 100vh;
}
header .hamburger {
  position: absolute;
  top: 15px;
  right: 0;
  z-index: 9999;
  align-items: center;
  padding: 20px 10px;
  cursor: pointer;
}
header .hamburger span {
  position: relative;
  display: block;
  width: 34px;
  border-top: 2px solid #10006B;
  transition: 0.2s;
}
header .hamburger span::after {
  top: 6px;
}
header .hamburger span::before {
  top: -10px;
}
header .hamburger span::before, header .hamburger span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 2px solid #10006B;
  transition: 0.2s;
}
header .hamburger.open span {
  transform: rotate(45deg);
}
header .hamburger.open span::before {
  top: -2px;
  left: 0;
  width: 100%;
  transform: rotate(-90deg);
}
header .hamburger.open span::after {
  top: -2px;
  opacity: 0;
}

.s-top-slider {
  margin: 0 auto;
}
.s-top-slider .top-slider {
  width: 100%;
  height: calc(100vh - 181px);
}
@media (min-width: 1601px) {
  .s-top-slider .top-slider {
    max-height: 1100px;
  }
}
.s-top-slider .top-slider [class^=swiper-button-]::after {
  content: "";
}
.s-top-slider .top-slider [class^=swiper-button-] {
  width: 50px;
  height: auto;
}
.s-top-slider .top-slider [class^=swiper-button-] svg {
  border: 2px solid white;
  border-radius: 10px;
}
.s-top-slider .top-slider [class^=swiper-button-]:hover svg {
  border-color: #ddd8d8;
}
.s-top-slider .top-slider [class^=swiper-button-]:hover svg * {
  transition: all 0.09s ease-in-out;
  fill: #ddd8d8;
  stroke: #ddd8d8;
}
.s-top-slider .top-slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("../assets/images/main-slider/founders.png");
  background-image: url("../assets/images/main-slider/founders.webp");
  background-size: cover;
  background-position: center 20%;
}
.s-top-slider .top-slider .swiper-slide.second-slide {
  background-image: url("../assets/images/main-slider/poster.png");
}
.s-top-slider .top-slider .slider-caption {
  position: relative;
}
.s-top-slider .top-slider .slider-caption a h2 {
  text-align: center;
  margin: 0 auto;
  max-width: 380px;
  padding: 10px 30px;
  background: rgba(236, 232, 232, 0.5);
  border: 2px solid #fff;
  font-size: 20px;
  font-weight: 400;
}
.s-top-slider .top-slider .slider-caption > ::after {
  content: "";
  display: block;
  width: 30%;
  height: 1px;
  background: #f8f8f8;
  left: calc(100% + 10px);
  top: 50%;
  position: absolute;
  pointer-events: none;
}
.s-top-slider .top-slider .slider-caption > ::before {
  content: "";
  display: block;
  width: 30%;
  height: 1px;
  background: #f8f8f8;
  left: calc(-30% - 10px);
  top: 50%;
  position: absolute;
  pointer-events: none;
}
.s-top-slider .top-slider .slider-caption:hover h2 {
  transition: all 0.2s ease-in-out;
  background: rgba(255, 255, 255, 0.5);
}

.s-text-image {
  padding: 40px 0;
  background-color: #fff;
}
.s-text-image .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s-text-image .container .text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 60px 0 40px;
  max-width: 48%;
}
.s-text-image .container .text-block .heading {
  max-width: 75%;
  padding-bottom: 40px;
}
.s-text-image .container .text-block .heading h2 {
  font-weight: 400;
  font-size: 28px;
}
.s-text-image .container .text-block .description {
  padding-bottom: 20px;
  max-width: 85%;
  font-weight: 400;
  font-size: 18px;
}
.s-text-image .container .text-block > p:last-of-type {
  padding-bottom: 0;
}
.s-text-image .container .image-block {
  max-width: 48%;
  -o-object-fit: cover;
     object-fit: cover;
}
.s-text-image .container .image-block img {
  border-radius: 14px;
  width: 100%;
}
.s-text-image .container .text-block-nav-button {
  padding-top: 40px;
}

.s-serviсes {
  padding: 80px;
  background-color: #ffffff;
}
.s-serviсes .s-services-heading {
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-position: center 70%;
  background-size: 40px;
}
.s-serviсes .s-services-heading h1 {
  text-align: center;
  font-size: 34px;
  font-weight: 400;
  text-transform: uppercase;
}
.s-serviсes .services-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 20px;
}
.s-serviсes .services-list .service-item {
  min-height: 450px;
  border-radius: 10px;
  padding: 30px 30px 15px;
  background-color: rgb(255, 255, 255);
  min-width: 350px;
  width: 32%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  box-shadow: 0 0px 41px -14px rgba(150, 170, 180, 0.5);
  transition: all 0.3s ease-in-out;
}
.s-serviсes .services-list .service-item:hover {
  background-color: #f0eded;
  transform: translateY(-5px);
}
.s-serviсes .services-list .service-item:hover .service-item_image-block {
  filter: none;
}
.s-serviсes .services-list .service-item .service-item_image-block {
  border-radius: 10px;
  box-shadow: 0 0 44px -6px #e1e1e1;
  height: 200px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}
.s-serviсes .services-list .service-item .service-item_info-text-block {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.s-serviсes .services-list .service-item .service-item_info-text-block .info-heading {
  position: relative;
  flex: 1;
  font-size: 18px;
  font-weight: 400;
}
.s-serviсes .services-list .service-item .service-item_info-text-block .info-heading::after {
  position: absolute;
  bottom: 15px;
  display: block;
  content: "";
  width: 50%;
  left: 50%;
  margin-left: -25%;
  height: 1px;
  background-color: lightgray;
}
.s-serviсes .services-list .service-item .service-item_info-text-block .bottom-text-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50%;
}
.s-serviсes .services-list .service-item .service-item_info-text-block .bottom-text-block .a-btn {
  margin-top: auto;
}
.s-serviсes .services-list .service-item .service-item_info-text-block .info-description {
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
}

.s-small-about {
  background-color: #ffffff;
  padding: 80px 0;
}
.s-small-about .container {
  position: relative;
  max-width: 1100px;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15%;
}
.s-small-about .about__heading-block {
  padding-bottom: 80px;
  color: #14214d;
}
.s-small-about .about__heading-block * {
  line-height: 1.5;
}
.s-small-about .about__heading-block .motto {
  letter-spacing: 1px;
  color: #86776f;
}
.s-small-about .about__description-block {
  padding-bottom: 80px;
  font-size: 14px;
  line-height: 2;
  font-style: italic;
}
.s-small-about .popup-consultation-block .link-to-consultation {
  font-weight: 600;
  font-style: italic;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.s-small-about .popup-consultation-block .link-to-consultation svg {
  transition: all 0.2s ease-in-out;
  padding-left: 5px;
  height: 30px;
  width: auto;
}
.s-small-about .popup-consultation-block .link-to-consultation:hover {
  text-decoration: underline;
  color: #86776f;
}
.s-small-about .popup-consultation-block .link-to-consultation:hover svg {
  stroke: #86776f;
}

.s-our-team-main {
  min-height: 40vh;
  padding: 40px 0;
}
.s-our-team-main .our-team__heading {
  padding: 40px 0;
  text-align: center;
}
.s-our-team-main .our-team__heading h2 {
  color: #d0c6c6;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}
.s-our-team-main .our-team__slider-container {
  max-width: 800px;
  margin: 0 auto;
}
.s-our-team-main .our-team__slider-container [class^=swiper-button-]::after {
  content: "";
}
.s-our-team-main .our-team__slider-container [class=swiper-button-next] {
  right: 0;
}
.s-our-team-main .our-team__slider-container [class=swiper-button-prev] {
  left: 0;
}
.s-our-team-main .our-team__slider-container [class^=swiper-button-] {
  width: 40px;
  height: auto;
}
.s-our-team-main .our-team__slider-container [class^=swiper-button-] svg {
  border: 2px solid white;
  border-radius: 10px;
}
.s-our-team-main .our-team__slider-container [class^=swiper-button-]:hover svg {
  border-color: #ddd8d8;
}
.s-our-team-main .our-team__slider-container [class^=swiper-button-]:hover svg * {
  transition: all 0.09s ease-in-out;
  fill: #ddd8d8;
  stroke: #ddd8d8;
}
.s-our-team-main .swiper-slide {
  padding: 40px 50px;
  background-color: transparent;
  width: 60%;
}
.s-our-team-main .swiper-slide .slider-image {
  height: 347px;
  background-position: center top;
  background-size: cover;
}
.s-our-team-main .swiper-slide .slider-description {
  color: white;
  padding: 40px 0;
}
.s-our-team-main .swiper-slide .slider-description > * {
  padding-bottom: 20px;
  line-height: 1.7;
}
.s-our-team-main .swiper-slide .slider-description h2 {
  text-transform: uppercase;
}
.s-our-team-main .swiper-slide .slider-description p {
  font-style: italic;
}

.s-top-articles {
  background-color: rgb(249, 249, 249);
  padding: 40px 0;
}
.s-top-articles .container {
  text-align: center;
}

.s-top-articles__heading {
  text-align: center;
  padding: 40px 0;
}

.top-articles-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.top-article-item {
  border-radius: 20px;
  background-color: white;
  color: #4e4541;
  width: 20%;
  min-width: 300px;
  min-height: 100%;
  border-radius: 15px;
}
.top-article-item:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 20px -10px #86776f;
}
.top-article-item a {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top-article__content-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 20px 20px;
}

.top-article__image-block {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.date-block {
  font-size: 14px;
  padding: 10px 0;
  font-style: italic;
  color: lightgray;
}
.date-block p {
  position: relative;
}
.date-block p:after,
.date-block p:before {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  background: lightgrey;
  top: 50%;
  position: absolute;
  pointer-events: none;
}
.date-block p:after {
  right: 13%;
}
.date-block p:before {
  left: 13%;
}

.article-heading {
  font-size: 14px;
  font-weight: 600;
  min-height: 50px;
  margin-bottom: 10px;
}

.article-text {
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  padding-bottom: 10px;
}

.show-more {
  padding: 40px 0;
}

.s-images-gallery {
  padding: 80px 40px;
  background-color: rgb(228, 228, 228);
}
.s-images-gallery .block-heading {
  padding: 40px 0;
}
.s-images-gallery .gallery {
  -moz-column-count: 3;
       column-count: 3;
  gap: 10px;
}
.s-images-gallery .gallery a {
  margin-bottom: 10px;
  height: 100%;
  width: auto;
  display: inline-block;
  border-radius: 10px;
}
.s-images-gallery .gallery a img {
  border-radius: 10px;
  width: 100%;
}
.s-images-gallery .gallery a img:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px 0px #86776f;
}

.s-google-map {
  background-color: #cecece;
}
.s-google-map .container {
  padding: 0 0 40px;
  text-align: center;
}
.s-google-map .container .block-heading {
  padding: 40px 0;
}
.s-google-map iframe {
  width: 100%;
  height: auto;
  max-width: 1000px;
  padding: 0 40px;
  border-radius: 10px;
}
.s-google-map .map-link {
  border-radius: 10px;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  color: black;
  color: #6a5e58;
}
.s-google-map .map-link:hover {
  transition: all 0.3s ease-in-out;
  color: #4e4541;
  text-decoration: underline;
}
.s-google-map .map-form-block {
  display: flex;
  gap: 20px;
  padding: 0 40px;
}
.s-google-map .map-form-block .contact-us-form {
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  flex: 1 1 50%;
}
.s-google-map .map-form-block .contact-us-form .block-subheading {
  padding: 15px 0;
}
.s-google-map .map-form-block .contact-us-form form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.s-google-map .map-form-block .contact-us-form form input, .s-google-map .map-form-block .contact-us-form form textarea {
  border-radius: 10px 10px 0 0;
  border: none;
  padding: 10px 20px;
  border-bottom: 2px solid transparent;
}
.s-google-map .map-form-block .contact-us-form form input:focus-visible, .s-google-map .map-form-block .contact-us-form form textarea:focus-visible {
  outline: none;
  border-bottom: 2px solid #86776f;
}
.s-google-map .map-form-block .contact-us-form form .form__input-holder {
  padding: 10px 20px;
}
.s-google-map .map-form-block .contact-us-form form .form__input-holder.half {
  width: 50%;
}
.s-google-map .map-form-block .contact-us-form form .form__input-holder.full {
  width: 100%;
}
.s-google-map .map-form-block .contact-us-form form input {
  width: 100%;
}
.s-google-map .map-form-block .contact-us-form form textarea {
  width: 100%;
  resize: none;
}
.s-google-map .map-form-block .contact-us-form form input[type=text], .s-google-map .map-form-block .contact-us-form form input[type=email], .s-google-map .map-form-block .contact-us-form form input[type=tel], .s-google-map .map-form-block .contact-us-form form input[type=datetime-local], .s-google-map .map-form-block .contact-us-form form textarea {
  background-color: #f7f4f4;
}
.s-google-map .map-form-block .contact-us-form form input[type=submit] {
  border-radius: 10px;
  border: none;
}
.s-google-map .map-form-block .contact-us-form form .datetime-wrapper {
  position: relative;
}
.s-google-map .map-form-block .contact-us-form form .datetime-wrapper span {
  display: inline-block;
  padding: 3px 5px;
  background-color: #e2d6d6;
  position: absolute;
  opacity: 0;
  font-size: 10px;
  top: 0;
  left: 20px;
  transition: all 0.2s ease;
  border-radius: 5px 5px 0 0;
}
.s-google-map .map-form-block .contact-us-form form .datetime-wrapper:hover span {
  opacity: 1;
}
.s-google-map .map-form-block iframe {
  padding: 0;
  flex: 1 1 50%;
}

footer {
  padding: 40px 0 0;
  background-color: #9e918a;
}
footer .footer__top {
  padding: 0 0 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #14214d;
}
footer .footer__top .logo {
  display: inline-block;
  height: 100px;
}
footer .footer__top .logo img {
  height: 100%;
}
footer .footer__top .popup-wrapper {
  align-self: flex-end;
}
footer .footer__middle {
  padding: 20px 0 0;
  display: flex;
  justify-content: space-between;
}
footer .footer__middle .footer__middle-item {
  border-bottom: 1px solid #14214d;
  padding-bottom: 20px;
  flex: 0 1 23%;
}
footer .footer__middle .footer__middle-item a {
  font-size: 15px;
  line-height: 18px;
}
footer .footer__middle .contact-link-wrapper {
  display: inline-flex !important;
  align-items: center;
}
footer .footer__middle .contact-link-wrapper svg {
  height: 40px;
  width: 40px;
  padding-right: 10px;
}
footer .footer__middle .contact-link-wrapper span:hover {
  text-shadow: 0px 1px 3px #86776f;
}
footer .footer__middle .middle__tels a {
  display: flex;
  align-items: flex-start;
  -moz-column-gap: 10px;
       column-gap: 10px;
  font-size: 13px;
  font-style: italic;
}
footer .footer__middle .middle__tels a .tels-container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}
footer .footer__middle .middle__tels a .tel:hover {
  text-shadow: 0px 1px 3px #86776f;
}
footer .footer__bottom {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}
footer .footer__bottom .footer__bottom-item {
  flex: 0 1 23%;
  display: flex;
  flex-direction: column;
}
footer .footer__bottom .footer__bottom-item .footer-block-subheading {
  font-size: 18px;
  font-weight: 400;
  text-shadow: 0px 0px 1px black;
}
footer .footer__bottom .schedule__list {
  display: flex;
  flex-direction: column;
}
footer .footer__bottom .schedule__list .schedule__list-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 14px 0 5px;
  border-bottom: 1px solid #14214d;
}
footer .footer__bottom .footer-social-media .footer-social-media__list {
  padding: 14px 0 0;
}
footer .footer__bottom .footer-social-media .footer-social-media__list a span {
  display: inline-block;
}
footer .footer__bottom .footer-social-media .footer-social-media__list a span svg {
  max-height: 40px;
  max-width: 40px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

body {
  scroll-behavior: smooth;
  background-color: #f9f9f9;
  font-family: "Gotham";
  height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1360px;
}

.a-btn {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 13px 20px;
  font-weight: 600;
  font-size: 18px;
  background-color: #e7e2e2;
  cursor: pointer;
}
.a-btn:hover {
  background-color: #d0c6c6;
}

.svg-padding {
  margin-right: -5px;
}

.block-heading {
  text-align: center;
  padding-top: 6px;
  cursor: pointer;
  border-top: 2px solid transparent;
  transition: all 0.25s ease-in-out;
  font-weight: 400;
  text-transform: uppercase;
}
.block-heading.no-link {
  color: black;
  cursor: auto;
  border: none;
}
.block-heading.no-link:hover {
  color: black;
}
.block-heading:hover {
  color: #a9883b;
  border-color: #a9883b;
}

.block-subheading {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.interactive-btn {
  display: inline-block;
  padding: 13px 24px;
  border-radius: 10px;
  background: linear-gradient(294deg, #3a5e76 1.43%, rgba(77, 102, 119, 0.4588235294) 99.42%);
  background-size: 420%;
  background-repeat: no-repeat;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease-in-out;
}
.interactive-btn:hover {
  background-size: 100%;
}/*# sourceMappingURL=style.css.map */