@import 'fonts';

$large-screen: 1240px;
$tablet-screen:992px;

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    background-color: #e2f5f8;
    font-family: 'Gotham';
}

.container{
    
    max-width: $large-screen;
}



//imports 
@import 'header';

.wrapper {
    // max-width: $large-screen;
    margin: ($header-height+20px) auto 0;
}