@import 'fonts';
@import 'colors';

$large-screen: 1240px;
$tablet-screen: 992px;

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

body {
    scroll-behavior: smooth;
    background-color: #f9f9f9;
    font-family: 'Gotham';
    height: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 40px;
    max-width: $large-screen;
}

.a-btn {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 13px 20px;
    font-weight: 600;
    font-size: 18px;
    background-color: lighten($color: $header-color, $amount: 10);
    cursor: pointer;

    &:hover {
        background-color: $header-color;
    }
}

//imports 
@import 'header';
$total-header-height: $header-height+$top-social-height+18px;

@import 's-top-slider';
@import 's-text-image';
@import 's-services';

.wrapper {
    margin: $total-header-height auto 0;
}