@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham-BlackItalic.eot");
  src: url("../assets/fonts/Gotham-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Gotham-BlackItalic.woff2") format("woff2"), url("../assets/fonts/Gotham-BlackItalic.woff") format("woff"), url("../assets/fonts/Gotham-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham-Black.eot");
  src: url("../assets/fonts/Gotham-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Gotham-Black.woff2") format("woff2"), url("../assets/fonts/Gotham-Black.woff") format("woff"), url("../assets/fonts/Gotham-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham-Bold.eot");
  src: url("../assets/fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Gotham-Bold.woff2") format("woff2"), url("../assets/fonts/Gotham-Bold.woff") format("woff"), url("../assets/fonts/Gotham-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham-Book.eot");
  src: url("../assets/fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Gotham-Book.woff2") format("woff2"), url("../assets/fonts/Gotham-Book.woff") format("woff"), url("../assets/fonts/Gotham-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham-BoldItalic.eot");
  src: url("../assets/fonts/Gotham-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Gotham-BoldItalic.woff2") format("woff2"), url("../assets/fonts/Gotham-BoldItalic.woff") format("woff"), url("../assets/fonts/Gotham-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham-BookItalic.eot");
  src: url("../assets/fonts/Gotham-BookItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Gotham-BookItalic.woff2") format("woff2"), url("../assets/fonts/Gotham-BookItalic.woff") format("woff"), url("../assets/fonts/Gotham-BookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background-color: #e2f5f8;
  font-family: "Gotham";
}

.container {
  max-width: 1240px;
}

header {
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: #d0c6c6;
  width: 100%;
}
header .social-media {
  background-color: #a28e8e;
  font-size: 13px;
}
header .social-media .container {
  display: flex;
  flex-direction: row-reverse;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin: 0 auto;
  padding: 0 40px;
}
header .social-media .language-block-wrapper {
  position: relative;
  width: 40px;
}
header .social-media .language-block-wrapper .language-block {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  position: absolute;
  top: 5px;
}
header .social-media .language-block-wrapper .language-block > ::after {
  position: absolute;
  right: 5px;
  top: 10px;
  content: "";
  border-top: 5px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  cursor: pointer;
}
header .social-media .language-block-wrapper .language-block:hover > ::after {
  border-top-color: #a9883b;
}
header .social-media .language-block-wrapper .language-block .flag-item {
  border: 1px solid rgba(0, 0, 0, 0.32);
  background-color: #a28e8e;
  padding-right: 15px;
}
header .social-media .language-block-wrapper .language-block .flag-item div {
  height: 30px;
  width: 40px;
}
header .social-media .language-block-wrapper .language-block .flag-item div svg {
  height: 100%;
  width: 100%;
}
header .social-media .language-block-wrapper .language-block .flag-item.dropdown-lang {
  display: none;
}
header .social-media .language-block-wrapper .language-block .flag-item:hover {
  background-color: #b9aaaa;
}
header .social-media .language-block-wrapper .language-block:hover .dropdown-lang {
  display: block;
}
header .social-media span svg {
  height: 40px;
  width: 40px;
  padding: 5px 0;
  filter: grayscale(0.6);
  transition: all 0.16s ease-in-out;
}
header .social-media span svg:hover {
  filter: none;
}
header .social-media .contact-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-right: 15px;
}
header .social-media .contact-icon.has-children::after {
  position: absolute;
  right: 0px;
  top: 20px;
  content: "";
  border-top: 5px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
header .social-media .contact-icon.as-children:hover::after {
  border-top: 5px solid #d0c6c6;
}
header .social-media .contact-icon a {
  display: flex;
  align-items: center;
}
header .social-media .contact-icon a.tel {
  font-size: 13px;
  font-style: italic;
}
header .social-media .contact-icon a.tel:hover span {
  background-color: #d0c6c6;
}
header .social-media .contact-icon a.main-tel .svg-span {
  padding-right: 5px;
  background-color: #a28e8e !important;
}
header .social-media .contact-icon div.additional-tels {
  display: none;
  position: absolute;
  top: 40px;
  background: #beb0b0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.783);
  min-width: 220px;
  padding: 10px 20px 10px 35px;
}
header .social-media .contact-icon:hover div.additional-tels {
  display: block;
}
header .social-media .contact-icon:hover .main-tel .svg-span svg {
  filter: none !important;
}
header .header-container {
  margin: 0 auto;
  padding: 10px 40px 10px;
  display: grid;
  grid-template-areas: "logo menu lang";
  align-items: center;
  justify-content: space-between;
}
header .header-container .logo {
  grid-area: logo;
  height: 120px;
  display: block;
}
header .header-container .logo img {
  height: 100%;
}
header .header-container .menu {
  grid-area: menu;
  flex: 1;
  font-size: 18px;
}
header .header-container .menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media (max-width: 1100px) {
  header .header-container .menu ul {
    -moz-column-gap: 18px;
         column-gap: 18px;
  }
}
header .header-container .menu ul li {
  text-transform: capitalize;
}
header .header-container .menu ul li a.menu-item {
  padding-top: 6px;
  cursor: pointer;
  border-top: 2px solid transparent;
  transition: all 0.25s ease-in-out;
  font-weight: 500;
}
header .header-container .menu ul li a.menu-item:hover {
  color: #a9883b;
  border-top: 2px solid #a9883b;
}
header .header-container .menu ul li.menu-item-dropdown-wrapper {
  position: relative;
  padding-right: 25px;
}
header .header-container .menu ul li.menu-item-dropdown-wrapper::after {
  position: absolute;
  right: 0px;
  top: 10px;
  content: "";
  border-top: 7px solid black;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
header .header-container .menu ul li.menu-item-dropdown-wrapper:hover::after {
  border-top: 7px solid #a9883b;
}
header .header-container .menu ul li.menu-item-dropdown-wrapper:hover .menu-item-dropdown {
  cursor: pointer;
}
header .header-container .menu ul li.menu-item-dropdown-wrapper:hover .menu-item-dropdown a.menu-item {
  color: #a9883b;
  border-top: 2px solid #a9883b;
}
header .header-container .menu ul li.menu-item-dropdown-wrapper:hover .menu-item-dropdown .dropdown-content {
  visibility: visible;
}
header .header-container .menu ul li.menu-item-dropdown-wrapper .menu-item-dropdown .dropdown-content-wrapper {
  padding: 18px 0;
  width: 115%;
  left: 0px;
  top: 5px;
  position: absolute;
}
header .header-container .menu ul li.menu-item-dropdown-wrapper .menu-item-dropdown .dropdown-content {
  visibility: hidden;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.783);
  left: -12px;
  min-width: 250px;
  padding: 10px;
  position: absolute;
  top: 25px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
header .header-container .menu ul li.menu-item-dropdown-wrapper .menu-item-dropdown .dropdown-content .sub-item {
  transition: background-color 0.2s ease-in-out;
}
header .header-container .menu ul li.menu-item-dropdown-wrapper .menu-item-dropdown .dropdown-content .sub-item:hover {
  background-color: #eeedee;
}

.wrapper {
  margin: 140px auto 0;
}/*# sourceMappingURL=style.css.map */